In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'c1':[1,2,3,67,89,-10,12,12,40,10],
                   'c2':[4,3,0,1,3,55,8,12,-12,3],
                   'c3':[2,-1,6,4,3,0,1,3,55,8],
                   'c4':[7,3,-5,3,0,1,3,55,8,10],
                   'c5':[2500,3096,8795,3,-5,3,0,1,10,9]})
df

   c1  c2  c3  c4    c5
0   1   4   2   7  2500
1   2   3  -1   3  3096
2   3   0   6  -5  8795
3  67   1   4   3     3
4  89   3   3   0    -5
5 -10  55   0   1     3
6  12   8   1   3     0
7  12  12   3  55     1
8  40 -12  55   8    10
9  10   3   8  10     9

In [3]:
def highlight_number(number):
    condition = number < 0
    print(["background-color: red" if i else '' for i in condition ])
    return ["background-color: red" if i else '' for i in condition ]
df.style.apply(highlight_number)

['', '', '', '', '', 'background-color: red', '', '', '', '']
['', '', '', '', '', '', '', '', 'background-color: red', '']
['', 'background-color: red', '', '', '', '', '', '', '', '']
['', '', 'background-color: red', '', '', '', '', '', '', '']
['', '', '', '', 'background-color: red', '', '', '', '', '']

In [6]:
from datetime import datetime
from datetime import timedelta

df1 = pd.read_csv("ufo.csv",  sep = ",")

def get_time(x):
    try:
         time = datetime.strptime(x, "%m/%d/%Y %H:%M")
    except ValueError:
         x = x.replace(' 24', ' 23')
         time = datetime.strptime(x, "%m/%d/%Y %H:%M")
         time += timedelta(hours=1)
    return time
get_time(oldest_date)


df1['Date_time'] = df1['Date_time'].apply(lambda x: get_time(x))
oldest_date = df["Date_time"].min()
current_date = datetime.now()

NameError: name 'oldest_date' is not defined

In [ ]:
current_date = pd.datetime.now().date()
current_date

In [ ]:
oldest_date = min(df1['Date_time'])
oldest_date

In [ ]:
differencDate = current_date - oldest_date

In [ ]:
df1[df1["country"].isnull()]

In [ ]:

df1.isnull().sum()